@page "/game"
@using Models;

<PageTitle>EditGame</PageTitle>

<h1>Game Catalog</h1>
<h3>EditGame</h3>

<div class="row">
   <div class="col-sm-4">
@*      <EditForm Model="game" OnValidSubmit="HandleValidSubmit">
         <div>
            <label for="name" class="form-label">Name:</label>
            <InputText @bind-Value="game.Name" />

            <label for="price" class="form-label">Price:</label>
            <InputNumber @bind-Value="game.Price" />
            <button class="btn btn-primary" type="submit">Записать</button>
         </div>
      </EditForm>*@
   </div>
</div>

@code {
    private Game game = new(0, string.Empty, 0);

    private async Task HandleValidSubmit()
    {
        throw new NotImplementedException();
        //await CreateGame(game);
   }
}
